    body {
        background-image: url("assets/orange-background.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
}

    header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    height: 80px;
    padding: 0 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    border-radius: 10px;
    }
    
    .logo {
    display: flex;
    align-items: center;
    }

    .logo a {
    color: #606060;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    }
    
    .logo img {
    height: 50px;
    margin-right: 10px;
    }
    
    .contact a {
    color: #606060;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    }



    button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

    button:hover {
    background-color: #555;
}


    .hp a {
    color: #606060;
    text-decoration: none;
}

    .hp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

    .hp {
    text-align: center;
}

    .matbasica a {
    color: #606060;
    text-decoration: none;
}

    .matbasica-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

    .matbasica {
    text-align: center;
}

    .quizconc a {
    color: #606060;
    text-decoration: none;
}

    .quizconc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

    .quizconc {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    padding-left: 90px;
    margin-top: -50px;
    
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
}

.title {
    font-size: 45px;
    font-weight: bold;
    color: #f39418;
    margin-bottom: 20px;
    margin-right: 20px;
}

.text {
    font-size: 20px;
    color: #606060;
    line-height: 1.5;
    text-align: left;
    font-weight: 500;
    text-align: justify;
}

.button {
    background-color: #f39418;
    color: #fff;
    padding: 10px 20px;
    font-size: 21px;
    border-radius: 27px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: right;
    position: absolute;
    right: 500px;
    border-width: 10px;
    border-color: #18ecf3;
    text-decoration: none;
}

.button:hover {
    background-color: #a5a5a5;
    
}

.container--conceitos {

    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

p {
    font-size: 18px;
    color: #606060;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;

}

.image {
    margin-bottom: 30px;
}

h1 {
    color: #f39418;
    margin-bottom: 15px;
}

h2 {
    color: #f39418;
    text-align: center;
}

h3 {
    color: #818181;
    text-align: center;
}

.creditos a {
    color: #555;
    text-align: center;
}

.video-container {
    position: absolute;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 40%;
    text-align: center;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

input[type="text"] {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 15px;
    text-align: center;
    margin-left: 640px;
}

input {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 15px;
    text-align: center;

}

.input {
    text-align: center;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: #818181;
}

.btn {
    text-align: center;
    border-radius: 20px;
    
}

.pa {
    font-size: 25px;

}

.pa h3 {
    color: #f39418;
}

.pg {
    font-size: 25px;
    
}

.pg h3 {
    color: #f39418;

}

.resultado  {

    text-align: center;
    font-size: 23px;
    color: #818181;
    margin-top: 23px;

}
.adi {
    color: #f39418;
    position: absolute;
    top: 445px;
    left: 600px;
}

.sub {
    color: #f39418;
    position: absolute;
    top: 730px;
    left: 600px;
}
.mult {
    color: #f39418;
    position: absolute;
    top: 980px;
    left: 600px;
}
.div {
    color: #f39418;
    position: absolute;
    top: 1225px;
    left: 600px;
}
.nor {
    color: #333;
}
.imagemat {
    margin-bottom: 20px;
    width: 400px;
    border: 5px solid #fcb464;
}
.seta-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: orange;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
  }
  
  .seta-topo:hover {
    background-color: darkorange;
    cursor: pointer;
  }
  .coluna-flutuante {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 9999;
  }
  
  .icone-rede-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    margin-bottom: 10px;
    opacity: 0.7;
    transition: opacity 0.3s;
  }
  
  .icone-rede-social:hover {
    opacity: 1;
  }
  
  .facebook {
    background-color: #dfaf67;
  }
  
  .twitter {
    background-color: #6e6e6e;
  }
  
  .instagram {
    background-color: #f39418;
  }
  
  .linkedin {
    background-color: #a7a6a6;
  }
  
  .fa {
    font-size: 18px;
  }
  
  .certa {
    border: 5px solid green;
}

.errada{
    border: 5px solid red;
}

